landingpage/.git
landingpage/.gitignore
landingpage/.env
landingpage/node_modules/
landingpage/build/
landingpage/.DS_Store
landingpage/.vscode/
landingpage/.idea/
landingpage/.env.local
landingpage/.env.development.local
landingpage/.next/
my-ai-business/.git
my-ai-business/.gitignore
my-ai-business/.env
my-ai-business/node_modules/
my-ai-business/build/
my-ai-business/.DS_Store
my-ai-business/.vscode/
my-ai-business/.idea/
my-ai-business/.env.local
my-ai-business/.env.development.local
my-ai-business/.next/